<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>{{ site.title }} | Contact Information | stephaniewyatt.tel</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="Stephanie Wyatt, contact information, smw" />
<meta name="google-site-verification" content="vwGH1UVvSk3mHcNtMnIZ0g-_-120xcVw-MXFSaN9lzE" />
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
{% if site.favicon %}
<link rel="shortcut icon" href="{{ site.favicon }}" />
{% endif %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" lazyload />
<!-- social media -->
<!-- favicon -->
  <link rel="shortcut icon" href="static/assets/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="static/assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="static/assets/images/favicon/site.webmanifest">
  <meta name="msapplication-TileColor" content="#603cba">
  <meta name="theme-color" content="#ffffff">
<!-- Open Graph -->
<!-- Search Engine -->
  <meta name="description" content="{{ site.description }}">
  <meta name="image" content="static/assets/images/background.jpg">
<!-- Schema.org for Google -->
  <meta itemprop="name" content="Stephanie Wyatt Contact Information">
  <meta itemprop="description" content="{{ site.description }}">
  <meta itemprop="image" content="static/assets/images/background.jpg">
<!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Stephanie Wyatt Contact Information">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image:src" content="static/assets/images/background.jpg">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta property="og:title" content="Stephanie Wyatt Contact Information">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:image" content="static/assets/images/background.jpg">
  <meta property="og:url" content="http://stephaniewyatt.tel">
  <meta property="og:site_name" content="Stephanie Wyatt Contact Information">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_US" />
